body{
    background-color: black;
    margin: 0;
    padding: 0;
}

/*                                  Navigation Bar - LargeScreens                                  */
.navigationBar {
    top: 0px;
    background-color: black;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    position: fixed;
    width: 100%;
    opacity: 0.7;
    overflow: hidden;
    display: inline-block;
    z-index: 1000;
}
.navigationBar:hover{
    opacity: 1;
} 

.navBtn{
    width: 20%;
    height: 30px;
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
	outline: 0;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
    opacity: 0.7;
}
.navBtn:hover{
    opacity: 1;
    background-color: grey;
}

/*                                  Navigation Bar - SmallScreens                                  */

.navHeader{
    display: none;
}
.navMenu{
    width: 10%;
    height: 30px;
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
	outline: 0;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
    opacity: 0.7;
}

.navMenu:hover{
    opacity: 1;
    background-color: grey;
}

/*  Adjust for small screens  */
@media only screen and (max-width: 600px) {
    .navigationBar {
        display: none;
    }
    .navHeader {
        top: 0px;
        background-color: black;
        position: relative;
        text-align: center;
        font-size: 25px;
        font-family: monospace;
        position: fixed;
        width: 100%;
        opacity: 0.7;
        overflow: hidden;
        display: inline-block;
        color: aliceblue;
        z-index: 1000;
    }
}


/*                                  Home Page                                  */
.main{
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
}

.title{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    position: absolute;
    z-index: 500;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainImg{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .hideSmallTxt {
        display: none;
    }
}