body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Mohave;
}

/*                                  Navigation Bar - LargeScreens                                  */
.navigationBar {
    top: 0px;
    background-color: black;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    position: fixed;
    width: 100%;
    opacity: 0.7;
    overflow: hidden;
    display: inline-block;
    z-index: 2;
}
.navigationBar:hover{
    opacity: 1;
} 

.navBtn{
    width: 20%;
    height: 30px;
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
	outline: 0;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
    opacity: 0.7;
}
.navBtn:hover{
    opacity: 1;
    background-color: grey;
}

/*                                  Navigation Bar - SmallScreens                                  */

.navHeader{
    display: none;
}
.navMenu{
    width: 10%;
    height: 30px;
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
	outline: 0;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
    opacity: 0.7;
}

.navMenu:hover{
    opacity: 1;
    background-color: grey;
}

/*  Adjust for small screens  */
@media only screen and (max-width: 600px) {
    .navigationBar {
        display: none;
    }
    .navHeader {
        top: 0px;
        background-color: black;
        position: relative;
        text-align: center;
        font-size: 25px;
        font-family: monospace;
        position: fixed;
        width: 100%;
        opacity: 0.7;
        overflow: hidden;
        display: inline-block;
        color: aliceblue;
        z-index: 2;
    }
}

/*                                  SideBar Overlay                                  */
.sideBar{
    z-index: 3;
    width:  50%;
    font-weight: bold;
    display: none;
    background-color: #9B9B9B;
    height: 100%;
    position: fixed;
}

.menuClose{
    position: absolute;
    top:0;
    color: #07090b;
    font-size: 20px;
    width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.menuClose:hover{
    background-color: red;
    color: white;
}

.menuItems{
    width: 100%;
    display: block;
    padding-top: 25%;
    margin-left: 10%;

}

.sidebarBtn{
    display: block;
    width: 80%;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-bottom: 15px;
}
.sidebarBtn:hover{
    background-color: #D2D2D2;
    color: black;
}

.sidebarToggleMode{
    width: 80%;
    height: 30px;
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
	outline: 0;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
    opacity: 0.7;
}
.sidebarToggleMode:hover{
    opacity: 1;
    background-color: white;
    color: black;
}

.overlay{
    position:fixed;
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    display: none;
}

/*                                  Home Page                                  */
.main{
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}

.title{
    text-align: center;
    font-size: 50px;
    font-family: Sora;
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-title{
    position: absolute;
    color: white;
    z-index: 1;
    top: 25%;
    text-align: center;
    font-size: 30px;
    font-family: Redwing;
}

.autoType{
    color: orange;
}

.mainImg{
    position: absolute;
    padding-top: 320px;
    vertical-align: middle;
    width: auto;
    height: 100%;
}

.highlightSideLeft{
    color: #7ec636;
    font-size: 60px;
}

.highlightSideRight{
    color: #7ec636;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .hideSmallTxt {
        display: none;
    }
    .title,.highlightSideLeft{
        font-size: 25px;
    }
    .sub-title,.highlightSideRight{
        font-size: 20px;
    }
}


/*                                      About Section           */
.headingContainer{
    margin-left: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutHeadingContainer{
    border-style: solid;
    border-color: #007aff;
    box-shadow: -10px 10px 0px 1px  black,-15px 15px 0px 1px  #03468F;
    border-width: 5px;
}


.sectionAboutme{
    padding-top: 10px;
    width: 100vw;
    height: auto;
    color: white;
    position: relative;
    background-color: #07090b;
    display: inline-block;
    padding-bottom: 50px;
}

.headings{
    /*padding-left: 100px;*/
    color: white;
    font-family: sans-serif;
}

.aboutContainer{
    padding-top: 50px;
    padding-left: 200px;
    display: flex;
    align-items: center;
}

.aboutText{
    width:50%;
}

.profile { 
	background-image: url(img/bg.JPG);
    background-repeat: no-repeat;
    border-radius: 50%;
	width: 350px; 
	height:350px;
	opacity:0.7;
    margin-left: 50px;
}

.profile:hover{
    opacity: 1;
}

.aboutList{
    padding-top: 15px;
    padding-left: 200px;
    font-size: 15px;
}

.skills{
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    font-family: Basement-Grotesque;
}

.lang{
    padding-left: 10px;
    padding-top: 20px;
    float: left;
}

@media only screen and (max-width: 600px) {
    .aboutContainer, .aboutList {
        padding-left: 10px;
    }

    .headingContainer{
        margin-left: 20px;
    }

    .skills{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 400px) {
    .aboutContainer{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .aboutText{
        margin-left: 25%;
        text-align: center;
    }
    .profile {
        margin-left: 0px;
    }
}
/*                                    END  About Section           */


/*                                      Project Section           */
.sectionProject{
    padding-top: 10px;
    width: 100vw;
    height: auto;
    color: white;
    position: relative;
    margin-bottom: 100px;
}

.projectHeadingContainer{
    border-style: solid;
    border-color: orange;
    box-shadow: -10px 10px 0px 1px  black,-15px 15px 0px 1px  #ae8e1c;
    border-width: 5px;
}


/* Start of Id card */
.projectBlock{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.card {
	box-shadow: 10px 20px 20px 10px #515454;
	transition: 0.3s;
	width: 300px;
	border-radius: 5px;
	margin-left: 55px;
	margin-top: 5px;
	float: left;
    background-color: white;
    color: black;
    height: fit-content;
    margin-top: 30px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardImg {
	border-radius: 5px 5px 0 0;
    width: 300px;
}

.container{
	padding: 2px 16px;
}

.cardHalfBtn {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	width: 50%;
	font-size: 18px;
}

.cardHalfBtn:hover{
    opacity: 0.7;
  }

.cardBtn {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.cardBtn:hover{
  opacity: 0.7;
}


/* End of Id card */

.projImg { 
    width: 500px; 
    height: 500px; 
    border-radius: 50%; 
    margin-left:55%;
    position: absolute;

}

@media only screen and (max-width: 400px) {
    .card {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .projImg{
        display: none;
    }
}

/*                                 END   Project Section           */



/*                                      Contact Section           */
.sectionContact{
    background-color: #07090b;
    padding-top: 50px;
}

.connectHeadingContainer{
    border-style: solid;
    border-color: #86cd82;
    box-shadow: -10px 10px 0px 1px  black,-15px 15px 0px 1px  #49704c;
    border-width: 5px;
}

.connectContent{
    display: flex;
    justify-content: center;
}

.app{
    padding: 50px;
}

.contact{
    width: 80px;
    height: 80px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
}
.contact:hover{
    opacity: 0.7;
    cursor: pointer;
}

#linkedIn {
    background-color: #125688;
    align-self: center;
}

#git {
    background-color: black;
    align-self: center;
}

#mail{
    background-color: black;
    align-self: center;
}

.icons{
    font-size: 50px;
}
/*                                    END Connect Section           */

footer{
    background-color: black;
    height: 200px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: monospace;
}

.smallprint{
    padding-top: 100px;
}


/*                                    Light MODE           */

.lightBody,.lightNavBar,.lightNavHeader,.lightNavBtn{
    background-color: white;
    color: black;
}

.lightMain,.lightTitle,.lightSubTitle{
    color: black;
}

.lightHeading{
    color: black;
}

.lightAbout{
    background-color: #DBE0E3;
    color: black;
}

.lightContact{
    background-color: #DBE0E3;
    color: black;
}

/*                      Animation                      */
.reveal{
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/*  Fonts   */
@font-face { font-family: Redwing; font-weight: medium; src: url('Fonts/Redwing/Redwing-Light.otf');}
@font-face { font-family: Basement-Grotesque; font-weight: Bold; src: url('Fonts/basement/BasementGrotesque-Black_v1.202.otf');}
@font-face { font-family: Sora; font-weight: semi-Bold; src: url('Fonts/Sora/Sora-VariableFont_wght.ttf');}
@font-face { font-family: Mohave; font-weight: regular; src: url('Fonts/mohave/Mohave-Regular.otf');}


