body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*                                  Navigation Bar - LargeScreens                                  */
.navigationBar {
    top: 0px;
    background-color: black;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    position: fixed;
    width: 100%;
    opacity: 0.7;
    overflow: hidden;
    display: inline-block;
    z-index: 1000;
}
.navigationBar:hover{
    opacity: 1;
} 

.navBtn{
    width: 20%;
    height: 30px;
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
	outline: 0;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
    opacity: 0.7;
}
.navBtn:hover{
    opacity: 1;
    background-color: grey;
}

/*                                  Navigation Bar - SmallScreens                                  */

.navHeader{
    display: none;
}
.navMenu{
    width: 10%;
    height: 30px;
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
	outline: 0;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
    opacity: 0.7;
}

.navMenu:hover{
    opacity: 1;
    background-color: grey;
}

/*  Adjust for small screens  */
@media only screen and (max-width: 600px) {
    .navigationBar {
        display: none;
    }
    .navHeader {
        top: 0px;
        background-color: black;
        position: relative;
        text-align: center;
        font-size: 25px;
        font-family: monospace;
        position: fixed;
        width: 100%;
        opacity: 0.7;
        overflow: hidden;
        display: inline-block;
        color: aliceblue;
        z-index: 1000;
    }
}




/*                                  Home Page                                  */
.main{
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}

.title{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    position: absolute;
    z-index: 500;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-title{
    position: absolute;
    color: white;
    z-index: 500;
    top: 25%;
    text-align: center;
    font-size: 20px;
}

.autoType{
    color: orange;
    font-family: 'Parisienne', cursive;
}

.mainImg{
    position: absolute;
    padding-top: 200px;
    vertical-align: middle;
    width: auto;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .hideSmallTxt {
        display: none;
    }
    .title{
        font-size: 25px;
    }
}


/*                                      About Section           */

.sectionAboutme{
    padding-top: 10px;
    width: 100vw;
    height: auto;
    color: white;
    position: relative;
    background-color: #07090b;
    display: inline-block;
    padding-bottom: 50px;
}

.headings{
    padding-left: 100px;
    color: white;
    font-family: sans-serif;
}

.aboutContainer{
    padding-top: 50px;
    padding-left: 200px;
    display: flex;
    align-items: center;
}

.aboutText{
    width:50%;
}

.profile { 
	background-image: url(img/IMG_1063.jpg);
    background-repeat: no-repeat;
    border-radius: 50%;
	width: 350px; 
	height:350px;
	opacity:0.7;
    margin-left: 50px;
}

.profile:hover{
    opacity: 1;
}

.aboutList{
    padding-top: 15px;
    padding-left: 200px;
    font-family: monospace;
    font-size: 15px;
}

.skills{
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
}

.lang{
    padding-left: 10px;
    padding-top: 20px;
    float: left;
}

@media only screen and (max-width: 600px) {
    .headings, .aboutContainer, .aboutList {
        padding-left: 10px;
    }

    .skills{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 400px) {
    .aboutContainer{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .aboutText{
        margin-left: 25%;
        text-align: center;
    }
    .profile {
        margin-left: 0px;
    }
}
/*                                    END  About Section           */


/*                                      Project Section           */
.sectionProject{
    padding-top: 10px;
    width: 100vw;
    height: auto;
    color: white;
    position: relative;
    margin-bottom: 100px;
}


/* Start of Id card */
.projectBlock{
    padding-top: 15px;
    display: inline-block;
    flex-wrap: wrap;
}

.card {
	box-shadow: 10px 20px 20px 10px #515454;
	transition: 0.3s;
	width: 300px;
	border-radius: 5px;
	margin-left: 55px;
	margin-top: 5px;
	float: left;
    background-color: white;
    color: black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardImg {
	border-radius: 5px 5px 0 0;
    width: 300px;
}

.container{
	padding: 2px 16px;
}

.cardBtn {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	width: 50%;
	font-size: 18px;
}

.cardBtn:hover{
  opacity: 0.7;
}

#card{
    font-family: sans-serif;
    text-align: center;
}
/* End of Id card */

@media only screen and (max-width: 340px) {
    .card {
        margin-left: 0px;
    }
}

/*                                 END   Project Section           */



/*                                      Connect Section           */
.sectionConnect{
    background-color: #07090b;
    padding-top: 50px;
}

.connectContent{
    display: flex;
    justify-content: center;
}

.app{
    padding: 50px;
}

.contact{
    width: 80px;
    height: 80px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
}
.contact:hover{
    opacity: 0.7;
}

#linkedIn {
    background-color: #125688;
    align-self: center;
}

#git {
    background-color: black;
    align-self: center;
}

.icons{
    font-size: 50px;
}
/*                                    END Connect Section           */

footer{
    background-color: black;
    height: 200px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: monospace;
}

.smallprint{
    padding-top: 100px;
}


/*                                    Light MODE           */

.lightBody,.lightNavBar,.lightNavHeader,.lightNavBtn{
    background-color: white;
    color: black;
}

.lightMain,.lightTitle,.lightSubTitle{
    color: black;
}

.lightHeading{
    color: black;
}

.lightAbout{
    background-color: #DBE0E3;
    color: black;
}

.lightContact{
    background-color: #DBE0E3;
}